h2.Title, h4.Title{
    padding: 0;
    margin: 0;
}

.Error {
    color: red;
}

.Input {
    width: 100%;
    height: 30px;
    margin-top: 50px;
    font-size: 1.3rem;
    border: none;
    border-bottom: #E5E5E5 solid 1px;
}

.Range {
    width: 80%;
    margin: 0;
}

.RangeLabel {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}