@import '../../../../data/colors.css';

h2.Title, h4.Title{
    padding: 0;
    margin: 0;
    font-weight: 700;
}

h2.Title {
    font-size: 24px;
}

h4.Title {
    font-size: 14px;
}

.Error {
    color: var(--formRed);
    margin-bottom: 20px;
}

.Input {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    font-size: 18px;
    border: none;
    border-bottom: var(--secondary) solid 1px;
    box-sizing: border-box;
}

.Input::placeholder  {
    color: var(--secondary);
}

.Input:focus  {
    outline: none;
}


.Range {
    width: 80%;
    margin: 0;
}

.RangeLabel {
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.Message {
    color: var(--tertiary)
}