.Survey {
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: left;
    margin: 0;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

h2.Title, h4.Title{
    padding: 0;
    margin: 0;
}

.Encrypted {
    align-self: flex-end;
    color: #D0D0D6;
}