.Survey {
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin: 20px 0;
    padding: 0;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.Encrypted {
    padding: 30px;
    padding-top: 0;
    align-self: flex-end;
    color: #D0D0D6;
}

.Form {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    margin: 0;
    box-sizing: border-box;
}

.FormContainer {
    width: 100%;
    padding: 0;
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    flex-flow: column;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and ( max-width: 999px) {
    .Survey {
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-sizing: border-box;
        flex: 1;
    }

    .FormDone {
        height: 100%;
    }

    .FormContainerDone {
        height: 100%;   
    }
}