.Survey {
    width: 400px;
    display: flex;
    flex-flow: column;
    align-items: left;
    margin: 0;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.Encrypted {
    align-self: flex-end;
    color: #D0D0D6;
}

.FormContainer {
    width: 100%;
    padding: 30px 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    margin: 0;
    box-sizing: border-box;
}

.Button {
    width: 80px;
    height: 80px;
    align-self: center;
    margin-top: 45px; 
    color: white;
    font-size: 2rem;
    background-image: linear-gradient(to right, #FF0066 , #BB00EE);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
