div.ButtonsContainer {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    position: relative;
}

div.ButtonLine {
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: var(--light);
    z-index: 10;
}

.ButtonNext {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    color: white;
    background-image: linear-gradient(120deg, var(--formRed) -4.38%, var(--formViolet) 169.26%);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    outline: none;
    z-index: 20;
}

.ButtonNext:hover {
    background-image: linear-gradient(120deg, var(--formRed) 40%, var(--formViolet) 180%);  
}

.ButtonNext:focus {
    box-shadow: 0 0 3px 1px var(--iconStroke);
}

.ButtonBack {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: 20px;
    margin: 0 auto;
    padding: 0;
    background: white;
    color: var(--secondary);
    border: 1px solid var(--halfLight);
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    z-index: 20;
}

.ButtonBack:hover {
    border: 1px solid var(--tertiary); 
}

.ButtonBack:focus {
    box-shadow: 0 0 3px 1px var(--light);
}