@import './data/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #f6f6f6;
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--main);
}

p {
  margin: 0;
}
