@import '../../../data/colors.css';

.RangeContainer {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.SliderContainer {
    width: 100%;
    position: relative;
}

.Slider {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 100%;
    padding: 0;
    height: 8px;
    background-image: linear-gradient(to right, var(--formAzure), var(--formViolet) );
    border-radius: 4px;
    outline: none;
}

.Slider:focus {
    box-shadow: 0 0 3px 1px var(--secondary);
}

.Slider:hover, .RangeLabel:hover ~ .SliderContainer input {
    background-image: linear-gradient(to right, var(--formAzure) 30%, var(--formViolet) 150%);
}

.Slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border: 2px solid var(--main);
    border-radius: 12px;
    background: white;
    box-sizing: border-box;
    cursor: pointer;
}

.Slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 2px solid var(--main);
    border-radius: 12px;
    background: white;
    box-sizing: border-box;
    cursor: pointer;
}

.RangeLabel {
    position: relative;
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.RangeLabelItemContainer {
    position: absolute;
    bottom: 32px;
}

.RangeLabelItem {
    width: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: -20px;
    cursor: pointer;
}

.questionaire {
    margin: 30px 0;
}

.SliderCircleContainer {
    width: 12px;
    position: absolute;
    left: -6px;
    bottom: -29px;
    z-index: 1;
}

.SliderCircle {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: white;
    border: 4px solid var(--formAzure);
    box-sizing: border-box; 
}