@import '../../../data/colors.css';

p.Title {
    font-size: 24px;
    font-weight: 700;
    white-space: pre-line;
}

p.Message {
    margin-top: 10px;
}

p.ListTitle {
    margin-top: 35px;
}

div.Marco {
    height: 40px;
    margin-top: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
}

p.MarcoSignature {
    display: inline-block;
    margin-left: 9px;
}

p.Selections {
    margin: 0;
    margin-left: 5px;
    margin-top: 35px;
}

.listContainer p {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0;
    margin-top: 20px;
    margin-left: 10px;
}

.listContainer p span {
    margin-left: 10px;
}