/*** Dashboard - default ***/
.dashboard {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.dashboard .SelectLabel {
    position: absolute;
    top: 12px;
    padding-right: 5px;
    background-color: white;
    color: var(--tertiary);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.25px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 20;
}